@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  font-family: "Source Sance Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.MuiButton-root {
  color: #fff;
  margin: 5px !important;
}
.reg_div{
    padding: 15px;
    background: #f2f0f0;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
}
.visit_div{
  margin-top: 15px;
}
.input_background{
  background: white;
}
.error{
  color: red;
  border: 1px solid red;
  padding: 5px;
}
.info{
  color: blue;
  border: 1px solid blue;
  padding: 5px;
}
.warning{
  color: yellow;
  border: 1px solid yellow;
  padding: 5px;
}
.css-a5rdam-MuiGrid-root>.MuiGrid-item {
  padding: 8px !important;
}
.card-header{
  background: #1976d2;
    padding: 5px;
    color: white;
}
.grid-height{
  height: 100px;
  overflow-y: scroll;
}
.MuiCardContent-root{
  padding: 0 !important;
}
